* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slowAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1280&dpr=1");
  object-fit: contain;
}

.heads {
  display: flex;
  justify-content: space-between;
}

.addNote {
  height: 100%;
  justify-content: center;
  background-color: rgba(94, 255, 94, 0.678);
  line-height: 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: none;
  cursor: pointer;
}

.addNote:hover {
  background-color: rgba(94, 255, 94, 0.527);
  color: aliceblue;
  transition: 0.2s ease-in-out;
}

h1 {
  position: relative;
  color: rgb(165, 165, 165);
}

.container {
  box-sizing: border-box;
  height: max-content;
  margin: auto 10vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.cards {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  max-height: 90vh;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  font-size: 1rem;
  transition: 0.3s;
}

.textInput {
  backdrop-filter: blur(0.3rem);
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: rgba(37, 37, 37, 0.068);
  border: 1px solid rgba(255, 255, 255, 0.507);
  outline: none;
  resize: none;
  font-size: larger;
  color: rgb(165, 165, 165);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  animation: slowAppear 0.5s ease-in-out;
}

textarea::-webkit-scrollbar {
  display: none;
}

.edit,
.delete,
.check {
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  background-color: transparent;
  border: none;
}

.btns {
  position: relative;
  width: fit-content;
  height: min-content;
  background-color: rgba(37, 37, 37, 0.068);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.185);
  padding: 0.1rem 0.5rem;
  animation: slowAppear 0.5s ease-in-out;
}

.btns:hover {
  background-color: rgba(9, 66, 21, 0.644);
}

.edit {
  color: white;
  font-weight: bold;
}

.edit:hover {
  color: gold;
}

.delete {
  font-weight: bold;
  color: white;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: rgba(255, 99, 71, 0.397);
}

.check {
  font-weight: bold;
  color: white;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: rgba(94, 255, 94, 0.397);
}

.check:hover {
  background-color: rgba(94, 255, 94, 0.678);
  transition: 0.3s;
}

.delete:hover {
  background-color: rgba(255, 99, 71, 0.712);
  transition: 0.3s;
}

.msgBox {
  font-size: 1.5vw;
  width: 20vw;
  text-align: center;
  height: 3vw;
  line-height: 2;
  color: white;
  position: sticky;
  bottom: 15vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5vw;
  border: 1px solid gray;
  margin: 0 40vw;
}

@media screen and (max-width: 550px) {
  .cards {
    flex-direction: row;
  }
  .container {
    padding: 0;
    margin-top: 3vh;
  }
}
